// @import '~bootstrap/dist/css/bootstrap.css';

@import 'variables';

* {
  box-sizing: border-box;
}

#app {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  background: $brand-theme-color-primary;
  font-size: $base-font-size;
}

.loaderCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errors {
  color : $brand-color-danger
}