// @import '~bootstrap/dist/css/bootstrap.css';

@import 'variables';

* {
  box-sizing: border-box;
}

body {
  background: $brand-theme-color-primary;
  font-size: $base-font-size;
  color: ghostwhite;

  h3 {
    font-size: 28px;
  }
  p {
    font-size: 14px
  }
}

#app {
  min-height: 100vh;
  min-width: 100vw;
}

.loaderCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errors {
  color : $brand-danger
}

.horizontal-line {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid $brand-mute;
  line-height: 0em;
  margin: 10px 0 20px;
}

.horizontal-line-text {
  background: $brand-theme-color-secondary;
  padding:0 100px;
}